<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= ponto.nome %></title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Irish+Grover&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body>
    <header>
        <div class="logo">
            <a href="/">Turistando</a>
        </div>
        <div class="user-icon">
            <a href="/registrar">
                <i class="fa-solid fa-user"></i>             
            </a>
        </div>
    </header>
    <div class="container">
        <h1><%= ponto.nome %></h1>
        <img src="<%= ponto.imagem %>" alt="<%= ponto.nome %>">
        <div class="ponto-detalhes">
            <p><%= ponto.descricao %></p>
            <p><b>Cidade: </b> <%= ponto.nome_cidade %></p>
            <p><b>É público: </b> 
                <% if (ponto.e_publico == 1) { %>
                    Sim
                <% } else { %>
                    Não
                <% } %>
            </p>
            <p><b>Valor entrada: </b> R$ <%= ponto.valor_entrada %></p>
            <div id="map" style="height: 400px;">sds</div>
        </div>
        <a href="/" class="btn">Voltar</a>
    </div>
    
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var mapContainer = document.getElementById('map');
            if (mapContainer) {
                var latitude = <%= ponto.latitude %>;
                var longitude = <%= ponto.longitude %>;

                var map = L.map('map').setView([latitude, longitude], 13);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                L.marker([latitude, longitude]).addTo(map)
                    .bindPopup('<%= ponto.nome %>');
            }
        });
    </script>
</body>
</html>